*{
	font-family: sans-serif;
	margin:0px auto;
}
.navbar
{
	border-radius: 0px;
	border-bottom: 0px;
}
 .navbar-default
{
	background-color:#C7486E;
	
	
}
nav h4
{
   color:white;
}
nav h4
{
   color:white;
}
nav li:hover
{
   color:white;
   transition: all 1s ease;
   transform:scale(1.2);
}
.box{
	/*width:20%;*/
	background-color: #E9F2EB;
	/*margin-top:10px;*/
	border:2px solid white;
	border-radius: 1px;
	overflow: hidden;


}
.margin-right-15px
{
	margin-right:15px !important;
}
.box ul
{
	list-style: none;
}
.courses
{
	margin-top: 0px;
	background-color:#E3E7E8;

}
.margin
{
	margin-bottom:40px;
}
.color
{
	background-color:#E3E7E8;
}
.product
{
	margin-top:20px;
}
.productt:hover
{
   transition: all 1s ease;
   transform:scale(1.2);
}
.productt1:hover
{
   transition: all 1s ease;
   transform:scale(1.2);
   z-index:2
}
.productt2:hover
{
   transition: all 1s ease;
   transform:scale(1.2);
}
.pro-margin
{
	margin-bottom:20px;
}
footer
{
	
	background-color: #2a4d89;	
	padding-bottom: 20px;
	border-bottom: 1px solid #12213a;
}
footer h3
{
	color: #fff;
	text-transform: capitalize;
}

footer label
{
	color: #ffbf00;
}
footer label sup
{
	color: #ff7f00;
	font-weight: bold;
	font-size: 20px;
	top: 0px;
}
footer .frm
{
	background-color: rgba(255,255,255,0.3);
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #fff;
}
footer ul
{
	margin: 0px;
	padding: 0px;
}
footer ul li
{
	list-style: none;
	line-height:30px;
}
footer ul li:before
{
	content:'\f0fb ';
	font-family: FontAwesome;
	display: inline-block;
  	margin-left: 10px; /* same as padding-left set on li */
  	width: 1.3em;
  	color: #ffbf00; 
}
footer ul li a
{
	color: #00f6ff;
} 
footer ul li a:hover
{
	color: #fff;
	text-decoration: none;
	padding-left: 2px;
	transition: all 0.5s ease;
}
.form-control
{
	resize: none;
}
.bottom
{
	background-color: #12213a;
	color: #393d44;
	padding-top: 10px;
	padding-bottom: 10px;
	border-top: 1px solid #2a4d89;
}
.bottom a
{
	color: #595f68;
}